nav {
    width: 55px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 99;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 230px;
        width: 100%;
        height: calc(100% - 350px);
        background: $mainBG_3;
        box-shadow: 0 0 8px 2px $mainShadow_1 inset;
        border-radius: 30px;
    }

    ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 240px;

        li {
            width: calc(100% + 10px);
            height: 65px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            z-index: 2;

            &.slide {
                background: $mainBG_2;
                position: absolute;
                top: 0;
                pointer-events: none;
                transition: 0.3s all;
                z-index: 1;

                span {
                    display: block;
                    position: fixed;
                    top: 240px;
                    border-radius: 50%;
                    background: $mainBG_2;
                    transition: 0.3s all;
                }
            }

            &:hover,&:active {

                i {
                    transform: rotate(360deg);
                }
            }

            &.active {

                i {
                    background-position-y: 100%;
                }
            }

            &:nth-of-type(1).active ~ .slide {
                top: 240px;
            }
            &:nth-of-type(2).active ~ .slide {
                top: 305px;
            }
            &:nth-of-type(3).active ~ .slide {
                top: 370px;
            }
            &:nth-of-type(4).active ~ .slide {
                top: 435px;
            }
            &:nth-of-type(5).active ~ .slide {
                top: 500px;
            }

            i {
                width: 25px;
                height: 25px;
                transition: 0.3s all;

                &.basketball {
                    background-position-x: 0;
                }
                &.soccer {
                    background-position-x: 25%;
                }
                &.baseball {
                    background-position-x: 50%;
                }
                &.iceball {
                    background-position-x: 75%;
                }
                &.tennis {
                    background-position-x: 100%;
                }
            }
        }
    }
}